<%- include("layout") %>

<!-- Main Content Column (70%) -->
<div class="col-10" id="main-content">
  <h1 class="mt-4 mb-4 text-center"><%=message%></h1>
  <h1 class="mt-4 mb-4 text-center"><%=status%></h1>
</div>
